<ion-content>
  <ion-card>
    <ion-searchbar
      placeholder="Enter Chassis No"
      showCancelButton="never"
    ></ion-searchbar>
  </ion-card>
  <ion-list>
    <ion-card class="crd-blk">
      <ion-row class="ion-padding-bottom">
        <ion-chip color="primary">Generate Invoice</ion-chip
        ><ion-chip color="primary">Upload POA</ion-chip>
      </ion-row>
      <ion-card-header>
        <ion-text>ACTUAL STRIPING DATE</ion-text>
        <ion-card-title>29 July 2021</ion-card-title>
      </ion-card-header>
      <ion-card-header>
        <ion-text>POA STATUS</ion-text><br />
        <ion-badge [ngClass]="status ? 'sts sts-p':' sts sts-a'"
          >Not Uploaded</ion-badge
        >
      </ion-card-header>
      <ion-card-header>
        <ion-text>CHASSIS NUMBER</ion-text>
        <ion-card-title>123456</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="crd-blk">
      <ion-row class="ion-padding-bottom">
        <ion-chip color="primary">Generate Invoice</ion-chip
        ><ion-chip color="primary">Upload POA</ion-chip>
      </ion-row>
      <ion-card-header>
        <ion-text>ACTUAL STRIPING DATE</ion-text>
        <ion-card-title>29 July 2021</ion-card-title>
      </ion-card-header>
      <ion-card-header>
        <ion-text>POA STATUS</ion-text><br />
        <ion-badge [ngClass]="status ? 'sts sts-p':' sts sts-a'"
          >Not Uploaded</ion-badge
        >
      </ion-card-header>
      <ion-card-header>
        <ion-text>CHASSIS NUMBER</ion-text>
        <ion-card-title>123456</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="crd-blk">
      <ion-row class="ion-padding-bottom">
        <ion-chip color="primary">Generate Invoice</ion-chip
        ><ion-chip color="primary">Upload POA</ion-chip>
      </ion-row>
      <ion-card-header>
        <ion-text>ACTUAL STRIPING DATE</ion-text>
        <ion-card-title>29 July 2021</ion-card-title>
      </ion-card-header>
      <ion-card-header>
        <ion-text>POA STATUS</ion-text><br />
        <ion-badge [ngClass]="status ? 'sts sts-p':' sts sts-a'"
          >Not Uploaded</ion-badge
        >
      </ion-card-header>
      <ion-card-header>
        <ion-text>CHASSIS NUMBER</ion-text>
        <ion-card-title>123456</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="crd-blk">
      <ion-row class="ion-padding-bottom">
        <ion-chip color="primary">Generate Invoice</ion-chip
        ><ion-chip color="primary">Upload POA</ion-chip>
      </ion-row>
      <ion-card-header>
        <ion-text>ACTUAL STRIPING DATE</ion-text>
        <ion-card-title>29 July 2021</ion-card-title>
      </ion-card-header>
      <ion-card-header>
        <ion-text>POA STATUS</ion-text><br />
        <ion-badge [ngClass]="status ? 'sts sts-p':' sts sts-a'"
          >Not Uploaded</ion-badge
        >
      </ion-card-header>
      <ion-card-header>
        <ion-text>CHASSIS NUMBER</ion-text>
        <ion-card-title>123456</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
